body{
    background-color: #ddd;
}

.container{
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.822);
    border: 5px solid black;
    color: chartreuse;
    border-radius: 5px;
    font-family: cursive;
    animation: animasi .7s ease forwards;
}

.judul{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 26, 26);
    color: white;
    border: 1px solid black;
    font-family: cursive;
}

.flex-container{
    display: flex;
}

.display{
    border-radius: 5px;
    background-color: rgb(27, 26, 26);
    border: 2px solid gold;
    margin: 10px;
    height: 50px;
    padding: 10px;
    font-size: 27px;
}

.button{
    flex-basis: 25%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(27, 26, 26);
    border: 2px solid gold;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.button:hover{
    background-color: black;
}

.displayNumber{
    text-align: right;
}